<h1>Reservation at <%= @restaurant.name %></h1>

<%= form_for(@reservation) do |f| %>
<%= f.hidden_field :restaurant_id, :value => @restaurant.id %>
<p>
	<%= f.label "date" %>
	<%= f.text_field "date" %>
</p>
<p>
	<%= f.label "time" %>
	<%= f.text_field "time" %>
</p>
<p>
	<%= f.submit "Reserve!" %>
</p>

	<% end %>